@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@400;800&display=swap');
#topnav .logo {
    text-transform: none;
}

.custom-txt {
    font-family: 'Sansita Swashed', cursive;
}
.apartments {
    color: #97786b;
    font-weight: bold;
    font-size: 20px !important;
}
.apartments:hover {
    color: #97786b;
    text-decoration: underline !important;
}
.zero {
    padding-top: 0px;
}

.zeroB {
    padding-bottom: 0px;
}

.zero30t {
    padding-top: 30px;
}

.footer {
  text-align: center;
}
.footer a {
  color: #f0ad4e;
}

.footer a:hover {
  color: #efefef;
}

.footer p {
  color: #fff !important;
}
.bg-dark {
    background-color: rgb(77,106,121) !important;
}
.bg-dark2 {
    background-color: #3e3e3e !important;
}
.table .thead-dark th {
    background-color: #97786b;
    border-color: #97786b;
}

.table {
    text-align: center;
}

.table a:hover {
    text-decoration: underline !important;
}
@media (min-width: 200px) and (max-width: 767px) {
  .section {
    padding: 100px 0;
  }
  .zero {
    padding-top: 0px;
}

.zeroB {
    padding-bottom: 0px;
}

.zero30t {
    padding-top: 30px;
}
}