.section{
    padding-top: 20px;
}
.app-form{
    margin: 45px;
}
@media (max-width: 380px){
    .app-form{
        margin: 10px;
    }
}
.label-lastname{
    margin-top: 13px;
}
@media (max-width: 767px){
    .label-lastname{
        margin-top: 0px;
    }
    .lastname-div{
        margin-top: 0px;
    }
}
.form-label::after{
    content: " *";
    color: red;
}
.label1::after{
    content: '';
}
.form-label{
    font-size: 18px;
    font-weight: calc(600);
}
h7{
  font-size: 12.5px;
}
h5{
    font-weight: calc(900);
    font-size: 18px;
}
h6{
    font-weight: calc(900);
}
#floatingTextarea2{
    height: 150px;
}
#flexCheckCheckedDisabled{
    background-color: grey;
    width: 20px;
    height: 20px;
    border: none;
}
#flex-container{
    padding: 20px;
    gap: 10px;
    background-color: rgb(233, 233, 233);
}
.para{
    color: grey;
    font-weight: calc(600);
    font-size: 15px;
    line-height: 18px;
}
#quant-sel{
    width: 55px;
}
#flex-box{
    justify-content: end;
    align-items: center;
}
.anchor,.anchor2,.anchor3{
    text-decoration: none;
    background-color: #FFC439;
    text-align: center;
    height: 50px;
    padding: 10px;
    color: black;
    font-size: 17px;

}
.anchor:hover{
    color: black;
}
.anchor2:hover,.anchor3:hover{
    color: white;
}
.anchor2{
    color: white;
    background-color: #003AA2;
}
.anchor3{
    color: white;
    background-color: #2C2E2F;
}
#creditMainHeading{
    font-size: 35px;
    font-weight: calc(1000);
}
.form-control{
    height: 40px;
}

/* .gallery-item{
    display: none;
    visibility: hidden;
} */
.svg1,.svg2,.credit{
    margin-top: 8px;
    width: 70px;
}
.svg4{
    width: 60px;
}
.svg3{
    width: 35px;
    height: 35px;
}
svg{
    padding: 0px 3px;
}
hr{
    background-color: black;
}
.svg4{
    padding: 5px 3px;
}
i{
    font-size: 12px;
}
.signature-div{
    height: 130px;
    border: solid 1px lightgrey;
}